---
import { LoginGateway } from '../components/LoginGateway';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8" />
			<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<meta name="viewport" content="width=device-width" />
			<meta name="generator" content={Astro.generator} />
			<title>Login Gateway - Secure Authentication</title>
		</head>
		<body>
			<LoginGateway client:load client={(await import('../lib/auth-client')).authClient} />
		</body>
	</html>
</Layout>